@font-face {
  font-family: 'Komika';
  src: url('./fonts/komika_axis_reg.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
}

.header {
  font-family: sans-serif;
  z-index: 1;
  position: fixed;
  background: #5C6BC0;
  height: 50px;
  width: 100%;
  margin: auto;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.40), 0 0 20px 0 rgba(0,0,0,0.40);
}

.header-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
  font-size: 18px;
  text-decoration: none;
  height: 100%;
  float: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  transition: .10s ease-in;
}

.header-button:hover {
  transition: .15s ease-in-out;
  background: #00B0FF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.24), 0 0 20px 0 rgba(0,0,0,0.19);
}

.showcase {
  display: block;
  text-align: center;
  max-height: 100%;
}

.showcase-bg1 {
  position: relative;
  max-width: 100%;
}

.showcase-title {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 200px;
  font-size: 128px;
  color: white;
  text-shadow: 8px 8px 20px #000000;
  font-family: 'komika'
}
